
# For keeping package control in sync, the docs recommend not syncing these
# files. https://packagecontrol.io/docs/syncing
sublime-packages-user/Package Control.last-run
sublime-packages-user/Package Control.ca-list
sublime-packages-user/Package Control.ca-bundle
sublime-packages-user/Package Control.system-ca-bundle
sublime-packages-user/Package Control.cache/
sublime-packages-user/Package Control.ca-certs/


sublime-3-packages-user/Package Control.last-run
sublime-3-packages-user/Package Control.ca-list
sublime-3-packages-user/Package Control.ca-bundle
sublime-3-packages-user/Package Control.system-ca-bundle
sublime-3-packages-user/Package Control.merged-ca-bundle
sublime-3-packages-user/Package Control.user-ca-bundle
sublime-3-packages-user/Package Control.cache/
sublime-3-packages-user/Package Control.ca-certs/
sublime-3-packages-user/oscrypto-ca-bundle.crt

.DS_Store

